POLYGRPC_URL=https://poly.api.pocket.network
POLYGON_RPC_URL_2=https://polygon.drpc.org
POLYGON_RPC_URL_3=https://1rpc.io/matic
POLYGON_RPC_URL_4=https://polygon-public.nodies.app
POLYGON_RPC_URL_5=https://polygon-bor-rpc.publicnode.com
GRIM_REAPER_ADDRESS=
POLYGON_WS_URL=
POLYGON_WS_URL_2=
POLYGON_WS_URL_3=
PRIVATE_KEY=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
GRIM_REAPER_ADDRESS=
EXECUTION_RPC_URL=
